%table.table.table-condenced
  %tr
    %td
      %label Provident Fund
    %td
      %label= payslip.pf
  - if  payslip.club_contribution.present?
    %tr
      %td
        %label Club Contribution
      %td
        %label= payslip.club_contribution
  - if  payslip.proffesional_tax.present?
    %tr
      %td
        %label Proffesional Tax
      %td
        %label= payslip.proffesional_tax
  - if  payslip.tds_pm.present?
    %tr
      %td
        %label TDS
      %td
        %label= payslip.tds_pm
  - if  payslip.additional_deduction_1.present?
    %tr
      %td
        %label Additional Deduction 1
      %td
        %label= payslip.additional_deduction_1
  - if  payslip.additional_deduction_2.present?
    %tr
      %td
        %label Additional Deduction 2
      %td
        %label= payslip.additional_deduction_2
  - if  payslip.additional_deduction_3.present?
    %tr
      %td
        %label Additional Deduction 3
      %td
        %label= payslip.additional_deduction_3
  %tr
    %td
      %label Total
    %td
      %label= payslip.total_deductions
            
