= render "payslip_header"
.col-md-12
  .col-md-6.col-right-border  
    .col-md-offset-4
      %h4 EARNINGS (in Rupees)
    .col-md-12
      = render :partial => "earnings", :locals => {:payslip => @payslip}
  .col-md-6
    .col-md-offset-4
      %h4 DEDUCTIONS (in Rupees)
    .col-md-12
      = render :partial => "deductions", :locals => {:payslip => @payslip}
.col-md-12
  %hr
  .pull-right
    %label= "Net Amount : #{@payslip.net_total}"
.col-md-12
  .col-md-offset-5
    = print_button(employee_master_payslip_path(@employee_master, @payslip, {:format => :pdf}))
    = email_button(mail_employee_master_payslip_path(@employee_master, @payslip))
