.col-md-4
  = form_tag annexure_form24_index_path, :method => "GET",:class=>"form-horizontal", :id => "annexureForm" do
    = select_tag "year", options_for_select(Form24::get_date)
    %button{:type=>"submit", :class=> "btn btn-primary"}= "Go"
    = link_to "Print", "#", :target => "blank", :class => "btn btn-primary", :rel => "print-annexure" ,:format => 'pdf'
.row
  %table.table.table-condensed{:style => "width:100%;"}
    %thead
      %th{:height => "100"} Employee PAN
      %th{:height => "100"} Name of Employee
      %th{:height => "100"} Write 'W' for Woman, 'S' for Senior Citizen and 'G' for others
      %th{:height => "100"} Date from which employed with current employer
      %th{:height => "100"} Total amount of salay (Includes wages, annuity, pension, gratuity, fees, commission, bonus, repayment of amount deposited etc.,)
      %th Total Deduction under section 16(ii) and 16(iii) (Specify each deduction separtely)
      %th Income Chargeable under the head "Salaries" (Column 332 minus 333)
      %th Income (including loss from housing property) under  any head other than the head "Salaries" offered for TDS [section 192(2B)
      %th Gross total income (Total of Columns 334 and 335)
      %th Aggregate amount of deductions under sections 80C, 80CCC and 80CCD (Total to be limited to amount specified in section 80CCE)
      %th Amount deductible under any other provision(s) of Chapter VI-A
      %th Total Amount deductible under Chapter VI-A (Total of Columns 337 and 338)
      %th Total taxable income(Columns 336 minus column 339)
      %th Total tax - (I) income-tax on total income
      %th (ii) Surcharge
      %th (iii) Education Cess
      %th Income tax Relief under section 89, when salary etc., is paid in arrear or in advance
      %th Net tax payable (Columns 341+342+343-344)
      %th Total amount of tax deducted at source for the whole year(aggregate of the amount in column 322 of Annexure I for all the four quarters in
      %th Shortfall in tax deduction(+)/Excess tax deduction(-)[Column 345 minus column 346]
    %thead{:style => "height:50px"}
      %th{:valign => "bottom"} (328)
      %th (329)
      %th (330)
      %th (331)
      %th (332)
      %th (333)
      %th (334)
      %th (335)
      %th (336)
      %th (337)
      %th (338)
      %th (339)
      %th (340)
      %th (341)
      %th (342)
      %th (343)
      %th (344)
      %th (345)
      %th (346)
      %th (347)
    %tbody
      - @forms.each do |x|
        %tr
          %td= x.employee_master.pan
          %td= x.employee_master.name
          %td
            - if(x.employee_master.gender == 'F')
              = 'W'
            - elsif(x.employee_master.gender == 'M')
              = 'G'
          %td= ''
          %td= x.total_earnings
          %td= 0
          %td= x.total_earnings
          %td= x.rent_recieved_per_year
          %td= x.form16.gross_total_income(x.total_earnings,x.rent_recieved_per_year)
          %td= x.form16.total_deductions_under_VI_A
          %td= x.form16.deductible_amount_under_VI_A
          %td= x.total_deductions_under_VI_A + x.deductible_amount_under_VI_A
          %td= x.total_deductions_under_VI_A - x.deductible_amount_under_VI_A
          %td= x.form16.tax_on_total_income()
          %td= 0
          %td= x.form16.educational_cess
          %td= 0
          %td= x.form16.tax_payble
          %td= x.tds_pm
          %td= x.tax_payble - x.tds_pm
