%table.table.table-bordered
  %thead
    %th Component
    %th Amount
  %tbody
    %tr
      %th Rent Paid (-)
      %td
        = "#{@salary_tax.rent_per_year}/Year  [#{@salary_tax.rent_paid}]"
    %tr
      %th Medical Allowance (-)
      %td= @salary_tax.claimed_medical_bill
    %tr
      %th Conveyance Allowance (-)
      %td= @salary_tax.conveyance_allowance
    %tr
      %th Medical Allowance (-)
      %td= @salary_tax.claimed_medical_bill
    %tr
      %th Professional Tax (-)
      %td= @salary_tax.professional_tax
    %tr
      %th Mediclaim U/s80D
      %td= @salary_tax.medical_insurances_total
    %tr
      %th Rent Recieved(+)
      %td= @salary_tax.rent_received
    %tr
      %th Home Loan Amount(-)
      %td= @salary_tax.home_loan_amount
    %tr
      %th Savings (-)
      %td= @salary_tax.savings_total
    %tr
      %th 80G(-)
      %td= @salary_tax.atg
    %tr
      %th Total
      %td= @salary_tax.total_deductions
        
