%table.table.table-bordered
  %thead
    %tr
      %th S No
      %th Month
      %th Basic
      %th HRA
      %th Conveyance Allowance
      %th City Compensatory Allowance
      %th Special Allowance 
      %th Loyalty Allowance 
      %th Medical Allowance 
      %th Leave Settlement 
      %th Other Payment 
      %th P.F. Deducted
      %th Incometax Deducted
      %th Professional tax Deducted
        
  - @salary_tax.payslips.each_with_index do |payslip, index|
    %tr
      %td= index+1
      %td= payslip.generated_month
      %td= payslip.basic
      %td= payslip.hra
      %td= payslip.conveyance_allowance
      %td= payslip.city_compensatory_allowance
      %td= payslip.special_allowance
      %td= payslip.loyalty_allowance
      %td= payslip.medical_allowance
      %td= payslip.leave_settlement
      %td= payslip.annual_bonus
      %td
      %td= payslip.pf
      %td= payslip.tds_pm
      %td= payslip.professional_tax
