= wicked_pdf_stylesheet_link_tag "pdf_reports"
.row
  .pull-right
    = wicked_pdf_image_tag "logo.jpg",width: "100", height: "40"
.row
  = render :partial => "employee_header", :locals => {:employee => @employee_master}, :formats => [:pdf, :haml]

.row
  .col-xs-6
    = render :partial => "earning_summary", :formats => [:pdf, :haml]
  .col-xs-6
    = render :partial => "deductions_and_total", :formats => [:pdf, :haml]
.page-break
.row
  .col-xs-12
    = render :partial => "earning_details", :formats => [:pdf, :haml]    

.row
  .col-xs-6
    %label Medical Bills:
    = render :partial => "medical_bills_show", :formats => [:html, :haml]
  .col-xs-6
    %label Medical Insurances:
    = render :partial => "medical_insurances_show", :formats => [:html, :haml]
  .col-xs-6
    %label Savings:
    = render :partial => "savings_show", :formats => [:html, :haml]
