-# .pull-right
-#   = will_paginate @employee, param_name: 'page', previous_label: h("<"), next_label: h(">")
%table.table.table-condensed
  %thead
    %th Code
    %th Initials
    %th Name
    %th Designation
    %th Department
  %tbody
    - employees.each do |employee_master|
      %tr
        %td= link_to employee_master.code, employee_master
        %td= employee_master.initials
        %td= employee_master.name
        %td= employee_master.designation_master.name
        %td= employee_master.department_master.name


= will_paginate employees, param_name: 'page', previous_label: h("<"), next_label: h(">")
