= title(@employee_master.name)
%h1 
  = link_to "Employees", employee_masters_path
  
.col-md-12
  .col-md-6
    %h2= @employee_master.name
  .col-md-6
    .pull-right
      = edit_button(edit_employee_master_path(@employee_master))
      = link_to raw("<i class='fa fa-money fa-lg'></i> Adv Payment"), employee_master_employee_advance_payments_path(@employee_master), :class => "btn btn-primary"
      = link_to raw("<i class='fa fa-file-text-o fa-lg'></i> Payslips"), employee_master_payslips_path(@employee_master, :origin => "employee"), :class => "btn btn-primary"
      - if @employee_master.eligible_for_payslip? (session[:transaction_date])
        = link_to_new( new_employee_master_payslip_path(@employee_master), {'label' => 'Payslip'})
      -# .btn-group
      -#   = link_to raw("<i class='fa fa-ellipsis-v fa-lg'></i> More"), "#", :class => "btn btn-primary"
      -#   %a.btn.btn-primary.dropdown-toggle{:data => {:toggle => "dropdown"}, :href=> "#"}
      -#     %span.fa.fa-caret-down
      -#   %ul.dropdown-menu.dropdown-menu-right
      -#     %li
      -#       = link_to raw("<i class='fa fa-money fa-lg'></i> Adv Payment"), "#"
      -#     %li
      -#       = link_to raw("<i class='fa fa-file-text-o fa-lg'></i> Payslips"), "#"
            
            
.col-md-12
  .col-md-6
    %label Code:
    %label.label.label-info.employee_code= @employee_master.code
    %br
    - if @employee_master.relation == 'M'
      %label Husband Name:
    - else
      %label Father Name:
    %label= @employee_master.father_or_husband_name
    %br
    %label Gender: 
    %label= @employee_master.gender
    %br
    %label Designation:
    %label= @employee_master.designation_master.name 
    %br
    %label Department:
    %label= @employee_master.department_master.name
.col-md-12
  %hr
.col-md-12
  %table.table.table-bordered
    %thead
      %th Inititals
      %th Qualification
      %th Date of joining
      %th Probation date
      %th Confirmation date
      %th Resignation Date
      %th Reason For Resignation
    %tbody
      %td= @employee_master.initials
      %td= @employee_master.qualification
      %td= @employee_master.date_of_joining
      %td= @employee_master.probation_date
      %td= @employee_master.confirmation_date
      %td= @employee_master.resignation_date
      %td= @employee_master.reason_for_resignation
.col-md-12
  .col-md-6
    %table.table.table-bordered
      %tr
        %th P F No
        %td= @employee_master.p_f_no
      %tr
        %th PAN
        %td= @employee_master.pan

  .col-md-6
    %table.table.table-bordered
      %tr
        %th Bank name
        %td= @employee_master.bank_name
      %tr
        %th Account number
        %td= @employee_master.account_number
      %tr
        %th CTC
        %td= @employee_master.ctc

  .pull-right{:ng_controller => "SalaryBreakUpInitializeController"}
    = link_to "Salary BreakUp >>", "#", :ng_click => "generate_salary_break_up(#{@employee_master.ctc}, #{@employee_master.basic})", :ng_disabled => "isClicked"
.col-md-12
  #salaryBreakUpShowDiv
  -#%salary_break_up{:ctc => @employee_master.ctc} 
