%h2 Change your password
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = f.hidden_field :reset_password_token
  = devise_error_messages!
  .col-sm-3
    %div
      = f.label :password, "New password"
      %br
      = f.password_field :password ,  :class => "form-control"
    %div
      = f.label :password_confirmation, "Confirm new password"
      %br
      = f.password_field :password_confirmation ,  :class => "form-control"
      %br
    %div= f.submit "Change my password", :class => "btn btn-primary"
      
