= title("PF-#{@job_run.job_date.strftime('%b')}-#{@job_run.job_date.strftime('%Y')}")
.col-md-12
  %h2
    = raw "#{link_to "PF Statements", pf_statements_list_jobs_path} for the month #{@job_run.job_date.strftime('%b')} #{@job_run.job_date.strftime('%Y')}" 
    .pull-right
      = link_to "Download", "/job_runs/#{@job_run.id}/pf_statements.pdf", :class => "btn btn-primary", :target => "_blank"

.row
  %table.table.table-condensed.table-bordered.table-responsive
    %thead
      %th Member Id
      %th Member Name
      %th EPF Wages
      %th EPS Wages
      %th EPF EE share
      %th EPF EE remitted
      %th EPS due
      %th EPS remitted
      %th Diff EPF and EPS
      %th Diff remitted
      %th N
      %th Refund Adv
      %th Arrear EPF	
      %th Arrear EPF EE	
      %th Arrear EPF Er	
      %th Arrear EPS
      %th Fathers / Husbands name	
      %th R	
      %th Date of Birth	
      %th G	
      %th DOJ EPF	
      %th DOJ EPS	
      %th DOE EPF	
      %th DOE EPS	
      %th R
    %tbody
      = render @pf_statements


