!!!
%html{ "ng-app" => 'payRollApp'}    
  %head
    %title
      - if content_for?(:title)
        = yield(:title)
      - else
        Payroll
  = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", media: "all", "data-turbolinks-track" => true
  = csrf_meta_tags
  %body
    = render "shared/banner"
    .container
      %div
        %section
          - flash.each do |key, value|
            #div{:class => flash_alert_class(key) }
              %button{ :type => "button", :class => "close", :data => { :dismiss => "alert" }, "aria-hidden".to_sym => "true" }
                &times;
              = raw value

      = yield
