= title("Payroll- Leaves")

.page-header
  %h1
    = link_to "Leaves" , employee_leaves_path
    = link_to_upload(upload_employee_leaves_path)
.col-md-3
  %h3
    - @employee_leaves.each do |employee|
      = link_to employee.month , corresponding_month_employee_leaves_path(:month => employee.month , :year => employee.year)
      = employee.year
      %br
      %br

